[Unit]
Description=WAHA Secure API Service
After=network.target

[Service]
Type=simple
User=jose
WorkingDirectory=/home/jose/whaha-public
ExecStart=/home/jose/whaha-public/venv/bin/python /home/jose/whaha-public/main.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=waha-secure-api

[Install]
WantedBy=multi-user.target
